<head>
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <header>
    <h1>a page made by Jason</h1>
  </header>
  <section>
    <h2>root</h2>
    <form id="inputter" class="inputter-off">
      <input name="name" placeholder="name" type="text" class="inputs" id="name-input" required>
      <input name="lower_bound" placeholder="lower-bound" type="number" class="inputs" id="lower-bound-input" required>
      <input name="upper_bound" placeholder="upper-bound" type="number" class="inputs" id="upper-bound-input" required>
      <input name="num_children" placeholder="number-of-children" type="number" class="inputs" id="number-of-children-input"
        min="1" max="15" required>
      <button type="submit" id="submitter">send</button>
    </form>
    <button id='form-open'>add new factory</button>
    <button id='form-close' class='inputter-off'>close form</button>


  </section>

  <ul id="output">

  </ul>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="scripts/app.js"></script>
</body>