<head>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <header>
    <h1>a page made by Jason</h1>
    <h2>root</h2>
  </header>
  <section>
    <form action="">
      <input name="name" placeholder="name" type="text" id="name-input">
      <input name="lower-bound" placeholder="lower-bound" type="text" id="lower-bound-input">
      <input name="upper-bound" placeholder="upper-bound" type="text" id="upper-bound-input">
      <input name="number-of-children" placeholder="number-of-children" type="text" id="number-of-children-input">
      <button type="submit">send</button>
    </form>
  </section>
  <ul class="output">

  </ul>
  <script src="/socket.io/socket.io.js"></script>
  <script src="scripts/app.js"></script>
</body>